In [2]:
## Importing the Packages
import pandas as pd
import numpy as np

In [4]:
## To Import Dataset into a Variable
df = pd.read_csv('BankNote_Authentication.csv')

In [8]:
df.head(10)

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661  -2.80730 -0.44699      0
1   4.54590    8.1674  -2.45860 -1.46210      0
2   3.86600   -2.6383   1.92420  0.10645      0
3   3.45660    9.5228  -4.01120 -3.59440      0
4   0.32924   -4.4552   4.57180 -0.98880      0
5   4.36840    9.6718  -3.96060 -3.16250      0
6   3.59120    3.0129   0.72888  0.56421      0
7   2.09220   -6.8100   8.46360 -0.60216      0
8   3.20320    5.7588  -0.75345 -0.61251      0
9   1.53560    9.1772  -2.27180 -0.73535      0

In [9]:
df.tail(10)

      variance  skewness   curtosis  entropy  class
1362  -2.16680   1.59330   0.045122 -1.67800      1
1363  -1.16670  -1.42370   2.924100  0.66119      1
1364  -2.83910  -6.63000  10.484900 -0.42113      1
1365  -4.50460  -5.81260  10.886700 -0.52846      1
1366  -2.41000   3.74330  -0.402150 -1.29530      1
1367   0.40614   1.34920  -1.450100 -0.55949      1
1368  -1.38870  -4.87730   6.477400  0.34179      1
1369  -3.75030 -13.45860  17.593200 -2.77710      1
1370  -3.56370  -8.38270  12.393000 -1.28230      1
1371  -2.54190  -0.65804   2.684200  1.19520      1

In [10]:
df.shape

(1372, 5)

In [13]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [19]:
## Segregating Depenedent and Independent Attributes using iloc
## x -> Independent, y -> Dependent
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [20]:
# Check Null Values
df.isnull()

      variance  skewness  curtosis  entropy  class
0        False     False     False    False  False
1        False     False     False    False  False
2        False     False     False    False  False
3        False     False     False    False  False
4        False     False     False    False  False
...        ...       ...       ...      ...    ...
1367     False     False     False    False  False
1368     False     False     False    False  False
1369     False     False     False    False  False
1370     False     False     False    False  False
1371     False     False     False    False  False

[1372 rows x 5 columns]

In [28]:
## Checking for Null Values for each Column
print(x['variance'].isna().sum())
print(x['skewness'].isna().sum())
print(x['curtosis'].isna().sum())
print(x['entropy'].isna().sum())

0
0
0
0

In [29]:
x

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [30]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [31]:
## Importing Train Test Split
from sklearn.model_selection import train_test_split

In [32]:
## Splitting Dataset into Training Set and Test Set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [33]:
x_train

      variance   skewness  curtosis   entropy
122   -1.45720   9.121400  1.742500 -5.124100
1356  -4.07860   2.923900  0.870260 -0.653890
1015  -0.90784  -7.902600  6.780700  0.341790
1163   0.68180   4.850400 -5.213300 -6.104300
1034   0.67886   4.119900 -4.569000 -4.141400
...        ...        ...       ...       ...
763    0.39012  -0.142790 -0.031994  0.350840
835   -0.94255   0.039307 -0.241920  0.315930
1216   0.60050   0.999450 -2.212600  0.097399
559    2.01650  -0.252460  5.170700  1.076300
684   -2.07590  10.822300  2.643900 -4.837000

[960 rows x 4 columns]

In [34]:
x_test

      variance   skewness  curtosis  entropy
1023  -1.77130 -10.766500  10.21840 -1.00430
642    5.13210  -0.031048   0.32616  1.11510
1196  -2.01490   3.687400  -1.93850 -3.89180
31     1.48840   3.627400   3.30800  0.48921
253    5.28680   3.257000  -1.37210  1.16680
...        ...        ...       ...      ...
986    0.84546   3.482600  -3.63070 -1.39610
271    5.39150   9.994600  -3.80810 -3.36420
1266  -1.43770  -1.432000   2.11440  0.42067
769   -0.89409   3.199100  -1.82190 -2.94520
634    6.82480   5.218700  -2.54250  0.54610

[412 rows x 4 columns]

In [35]:
y_train

122     0
1356    1
1015    1
1163    1
1034    1
       ..
763     1
835     1
1216    1
559     0
684     0
Name: class, Length: 960, dtype: int64

In [36]:
y_test

1023    1
642     0
1196    1
31      0
253     0
       ..
986     1
271     0
1266    1
769     1
634     0
Name: class, Length: 412, dtype: int64

In [37]:
## Importing Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

In [51]:
classifierRF = RandomForestClassifier()
classifierRF.fit(x_train,y_train)

RandomForestClassifier()

In [57]:
## Prediction against x_test using RF
y_predRF = classifierRF.predict(x_test)
y_predRF

array([1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0], dtype=int64)

In [67]:
## Check for Accuracy
from sklearn.metrics import confusion_matrix, accuracy_score

In [68]:
## Calculating Score RF
scoreRF = accuracy_score(y_test, y_predRF)

In [69]:
## Creating Confusion Matrix RF
cmRF = confusion_matrix(y_test, y_predRF)

In [64]:
print('Random Forest Accuracy : ',scoreRF)

Random Forest Accuracy :  0.9927184466019418

In [70]:
print('Random Forest Confusion Matrix : ',cmRF)

Random Forest Confusion Matrix :  [[229   3]
 [  0 180]]

In [48]:
## Importing Naive Bayes Classifier
from sklearn.naive_bayes import GaussianNB

In [56]:
classifierNB = GaussianNB()
classifierNB.fit(x_train, y_train)

GaussianNB()

In [58]:
## Prediction against x_test using NB
y_predNB = classifierNB.predict(x_test)
y_predNB

array([1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0], dtype=int64)

In [61]:
## Calculating Score NB
scoreNB = accuracy_score(y_test, y_predNB)

In [72]:
## Creating Confusion Matrix NB
cmNB = confusion_matrix(y_test, y_predNB)

In [73]:
print('Naive Bayes Accuracy : ',scoreNB)

Naive Bayes Accuracy :  0.8325242718446602

In [74]:
print('Naive Bayes Confusion Matrix : ',cmNB)

Naive Bayes Confusion Matrix :  [[199  33]
 [ 36 144]]

In [75]:
## Creating a Model for Reuse
import pickle